.top
  グループを作成しました
.side
  .side__up
    .side__up__user-name
      tatsu
    .side__up__link-icon
      =link_to "", class: "edit-account" do
        = fa_icon 'cog'
    .side__up__link-icon
      =link_to "", class: "new-group" do
        = fa_icon 'pencil-square-o'
  .side__under
    .side__under__group-name
      tatsuのグループ<br>
    .side__under__last-message
      こんにちは
.main
  .main__up
    .main__up__left
      .main__up__left__group-name
        tatsuのグループ
      .main__up__left__member-names
        Member : tatsu
    .main__up__right
      .main__up__right__edit-button
        Edit
  .main__center
    .main__center__message-name
      tatsu
    .main__center__message-date
      2019/10/04(Fri) 21:31:14
    .main__center__message-text
      こんにちは
  .main__under
    .main__under__contents
      .main__under__contents__text-box
        ここに入力してください
        .main__under__contents__text-box__link-icon
          =link_to "", class: "photo-link" do
            = fa_icon 'image'
      .main__under__contents__send-button
        Send